/* This is the stylesheet version 1 for my portfolio */
body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 400;
}
.text-muted {
	color: #BCBBBB;
}
.text-thin {
	font-weight: 300;
}
.spaced{
	margin: 30px 0 5px 0;
}
a{
	color: #747704;
}
footer{
	font-size: 9px;
	padding: 30px 0;
	text-align: center;
}